---
- name: Ensure portage dirs structure exists
  file:
    dest: /etc/portage/package.{{ setting_type }}
    mode: u=rwx,g=rx,o=rx
    owner: root
    group: root
    state: directory
    recurse: yes
  loop:
  - accept_keywords
  - license
  - mask
  - unmask
  - use
  loop_control:
    loop_var: setting_type
- name: Accept package licenses
  lineinfile:
    create: yes
    line: >-
      {{ license_entry.package }}
      {{ license_entry.licenses }}
    path: >-
      /etc/portage/package.license/{{
          license_entry.package | replace('/', '--')
      }}
    state: present
  loop: >-
    {{
        accept_licenses |
        dict2items(key_name='package', value_name='licenses')
    }}
  loop_control:
    label: >-
      Accepting {{ license_entry.licenses }} terms
      for {{ license_entry.package }}
    loop_var: license_entry

- name: Create patch dirs structure
  file:
    dest: /etc/portage/patches/{{ item }}
    mode: u=rwx,g=rx,o=rx
    owner: root
    group: root
    state: directory
    recurse: yes
  loop:
  - app-emulation/virtualbox-modules-6.1.12-r1
  - dev-libs/cyrus-sasl-2.1.26
  - net-wireless/crda-3.18-r1
  - sys-auth/sssd-2.2.3

- name: Add ebuild user patches
  copy:
    src: "{{ item.1 }}"
    dest: /etc/portage/patches/{{ item.0 }}/
    mode: u+rw,g=r,o=r
    owner: root
    group: root
  loop:
  - - app-emulation/virtualbox-modules-6.1.12-r1
    - virtualbox-modules-6.1.12-r1-kernel-5.8-fixes_for_mm_struct.patch
  - - app-emulation/virtualbox-modules-6.1.12-r1
    - virtualbox-modules-6.1.12-r1-kernel-5.8-fixes_for_changes_in_cpu_tlbstate.patch
  - - app-emulation/virtualbox-modules-6.1.12-r1
    - virtualbox-modules-6.1.12-r1-kernel-5.8-fixes_for_module_memory.patch
  - - dev-libs/cyrus-sasl-2.1.26
    - cyrus-sasl-2.1.26-openssl-1.1.patch
  - - net-wireless/crda-3.18-r1
    - crda-openssl-1.1.patch
  - - sys-auth/sssd-2.2.3
    - sssd-2.2.3-glibc-2.32-compat.patch

- name: Set up ABI_X86 targets
  lineinfile:
    create: no
    line: >-
      ABI_X86="{{ abi_x86_targets | join(' ') }}"
    path: /etc/portage/make.conf
    regexp: ^ABI_X86="[^"]*"$
    state: present
  when: abi_x86_targets | length > 0

- name: Merge essential ebuilds
  portage:
    package: >-
      {{ essential_ebuilds }}
    state: emerged
    update: yes
    verbose: yes
    newuse: yes
    loadavg: "{{ emerge_load_average }}"
    jobs: "{{ emerge_jobs_number }}"
  notify:
  - ensure-services-started
  - ensure-services-reloaded

- name: Set up Python targets
  lineinfile:
    create: no
    line: >-
      PYTHON_TARGETS="python{{
          python_targets | map('replace', '.', '_') | join(' python')
      }}"
    path: /etc/portage/make.conf
    regexp: ^PYTHON_TARGETS="[^"]*"$
    state: present
  when: python_targets | length > 0

- name: Set up Ruby targets
  lineinfile:
    create: no
    line: >-
      RUBY_TARGETS="ruby{{ ruby_targets | map('replace', '.', '') | join(' ruby')
      }}"
    path: /etc/portage/make.conf
    regexp: ^RUBY_TARGETS="[^"]*"$
    state: present
  when: ruby_targets | length > 0

- name: Set up graphics card targets
  lineinfile:
    create: no
    line: >-
      VIDEO_CARDS="{{ video_card_targets | join(' ') }}"
    path: /etc/portage/make.conf
    regexp: ^VIDEO_CARDS="[^"]*"$
    state: present
  when: video_card_targets | length > 0

- name: Mask third-party overlays
  lineinfile:
    create: yes
    line: >-
      */*::{{ overlay }}
    path: >-
      /etc/portage/package.mask/third-party-overlay--{{ overlay }}
    state: present
  loop: >-
    {{ layman_overlays }}
  loop_control:
    loop_var: overlay

- name: Allow certain packages from third-party overlays
  lineinfile:
    create: yes
    line: >-
      {{
        [overlay_package_entry.package, overlay_package_entry.overlay]
        | join('::')
      }}
    path: >-
      /etc/portage/package.unmask/third-party-overlay--{{
        overlay_package_entry.overlay
      }}
    state: present
  loop: >-
    {{
        ebuilds_from_overlays
        | combine(unmask_ebuilds)
        | dict2items(key_name='package', value_name='overlay')
    }}
  loop_control:
    label: >-
      Allowing {{
        [overlay_package_entry.package, overlay_package_entry.overlay]
        | join('::')
      }}
    loop_var: overlay_package_entry

- name: Install layman overlays
  shell: |
    set -euxo pipefail
    yes | layman -a {{ overlay }}
  args:
    creates: /var/lib/layman/{{ overlay }}
  loop: >-
    {{ layman_overlays }}
  loop_control:
    loop_var: overlay
  register: layman_cmd
  changed_when: layman_cmd.rc == 141
  failed_when: >-
    layman_cmd.rc not in [0, 141] and
    ' was already installed' not in layman_cmd.stdout

- name: Sync layman overlays
  command: layman -S
  when: True

- name: Enable global USE-flags
  command: euse -E {{ use_flags_global_enabled | join(' ') }}
  when: use_flags_global_enabled | length > 0
  register: euse_cmd
  failed_when: >-
    euse_cmd.rc != 0 and
    'ERROR: ' in euse_cmd.stdout

- name: Disable global USE-flags
  command: euse -D {{ use_flags_global_disabled | join(' ') }}
  when: use_flags_global_disabled | length > 0
  register: euse_cmd
  failed_when: >-
    euse_cmd.rc != 0 and
    'ERROR: ' in euse_cmd.stdout

- name: Enable per-package USE-flags
  command: >-
    euse -p "{{ flags_entry.package }}"
    -E {{ flags_entry.use_flags | join(' ') }}
  register: euse_cmd
  failed_when: >-
    euse_cmd.rc != 0 and
    'ERROR: ' in euse_cmd.stdout
  loop: >-
    {{
        use_flags_per_package_enabled |
        dict2items(key_name='package', value_name='use_flags')
    }}
  loop_control:
    loop_var: flags_entry
  when: flags_entry.use_flags | length > 0

- name: Disable per-package USE-flags
  command: >-
    euse -p "{{ flags_entry.package }}"
    -D {{ flags_entry.use_flags | join(' ') }}
  register: euse_cmd
  failed_when: >-
    euse_cmd.rc != 0 and
    'ERROR: ' in euse_cmd.stdout
  loop: >-
    {{
        use_flags_per_package_disabled |
        dict2items(key_name='package', value_name='use_flags')
    }}
  loop_control:
    loop_var: flags_entry
  when: flags_entry.use_flags | length > 0

- name: Set up per-package accept keywords
  lineinfile:
    create: yes
    line: >-
      {{ package_keywords_entry.package }}
      {{ package_keywords_entry.keywords | join(' ') }}
    path: >-
      /etc/portage/package.accept_keywords/{{
        package_keywords_entry.package
        | replace('/', '--')
      }}--managed
    regexp: ^{{ package_keywords_entry.package }}\s+.*$
    state: present
  loop: >-
    {{
        accept_keywords_per_package |
        dict2items(key_name='package', value_name='keywords')
    }}
  loop_control:
    loop_var: package_keywords_entry
  when: package_keywords_entry.keywords | length > 0

- name: Merge ebuilds from the default Gentoo tree
  portage:
    package: >-
      {{
          ebuilds
          | map('regex_replace', '^(.*)$', '\1::gentoo')
          | list
      }}
    state: emerged
    update: yes
    verbose: yes
    newuse: yes
    loadavg: "{{ emerge_load_average }}"
    jobs: "{{ emerge_jobs_number }}"
  notify:
  - ensure-services-started
  - ensure-services-reloaded

- name: Merge ebuilds from third-party overlays
  portage:
    package: >-
      {{
          ebuilds_from_overlays.items()
          | map('join', '::')
          | list
      }}
    state: emerged
    update: yes
    verbose: yes
    newuse: yes
    loadavg: "{{ emerge_load_average }}"
    jobs: "{{ emerge_jobs_number }}"
  notify:
  - ensure-services-started
  - ensure-services-reloaded

- name: Ensure Vagga installed
  shell: |
    set -euxo pipefail
    curl -sSf https://files.zerogw.com/vagga/vagga-install{{ '-testing' if vagga_testing else '' }}.sh | sh
  args:
    creates: /usr/bin/vagga
- name: Check kernel.unprivileged_userns_clone sysctl value
  command: sysctl kernel.unprivileged_userns_clone
  register: sysctl_cmd
  changed_when: false
  failed_when: >
    (sysctl_cmd.rc != 0 and
     'sysctl: cannot stat /proc/sys/kernel/unprivileged_userns_clone: No such file or directory'
     not in sysctl_cmd.stderr_lines) or
    (sysctl_cmd.rc == 0 and
     'kernel.unprivileged_userns_clone = 0'
     in sysctl_cmd.stdout_lines)
- name: Set up subuid/subgid
  lineinfile:
    create: yes
    line: wk:100000:65536
    path: /etc/sub{{ item }}id
    state: present
  with_items:
  - u
  - g

- name: Load 'tun' kernel module
  modprobe:
    name: tun
    state: present

- name: Configure 'tun' module autoload
  lineinfile:
    create: yes
    line: tun
    path: /etc/modules-load.d/tun.conf

- name: Add a wk group
  group:
    gid: 1000
    name: wk
    state: present

- name: Add wk to docker group
  user:
    append: yes
    comment: Sviat
    createhome: yes
    group: wk
    groups:
    - docker
    name: wk
    password: >-
      {{ user_pass }}
    shell: /bin/zsh
    state: present
    uid: 1000

- name: Add wk to sudoers
  lineinfile:
    create: yes
    group: root
    line: wk ALL=(ALL) ALL
    mode: u=r,g=r,o=
    owner: root
    path: /etc/sudoers.d/wk-user
    regexp: ^wk\s[^=]+=[^=]+$
    state: present

- name: Configure network printer lookup in CUPS
  lineinfile:
    insertafter: "# Use BrowsePoll to poll a particular CUPS server"
    line: BrowsePoll cups.brq.redhat.com
    path: /etc/cups/cups-browsed.conf
    regexp: ^BrowsePoll\scups.brq.redhat.com$
    state: present
  notify:
  - ensure-services-started
- name: Configure remote network printer naming in CUPS
  lineinfile:
    insertafter: "# LocalQueueNamingRemoteCUPS RemoteName"
    line: LocalQueueNamingRemoteCUPS RemoteName
    path: /etc/cups/cups-browsed.conf
    regexp: ^LocalQueueNamingRemoteCUPS\sRemoteName$
    state: present
  notify:
  - ensure-services-started

- name: Enable the Bluetooth Fast Connectable setting
  lineinfile:
    insertafter: "#FastConnectable = false"
    line: FastConnectable = true
    path: /etc/bluetooth/main.conf
    regexp: ^FastConnectable\s=\strue$
    state: present
  notify:
  - ensure-services-started

- name: Set up Kerberos
  template:
    src: krb5.conf.template
    dest: /etc/krb5.conf
  notify:
  - ensure-services-started
- name: Set up sssd
  template:
    src: sssd.conf.template
    dest: /etc/sssd/sssd.conf
    mode: u=rw,g=,o=
  notify:
  - ensure-services-started
- name: Connect sssd to nsswitch
  lineinfile:
    line: >-
      {{ nss_entry.name }}:
      {{ nss_entry.sources | join(' ') }}
    path: /etc/nsswitch.conf
    regexp: ^{{ nss_entry.name }}:\s+.*$
    state: present
  loop:
  - name: passwd
    sources:
    - sss
    - files
  - name: group
    sources:
    - sss
    - files
  - name: initgroups
    sources:
    - sss
    - files
  - name: shadow
    sources:
    - sss
    - files
  - name: gshadow
    sources:
    - files
    - sss
  - name: services
    sources:
    - sss
    - files
  - name: netgroup
    sources:
    - sss
    - files
  - name: automount
    sources:
    - sss
    - files
  loop_control:
    label: >-
      Setting up nss for {{ nss_entry.name }}
    loop_var: nss_entry
- name: Point PAM to sssd
  copy:
    src: etc/pam.d/system-auth
    dest: /etc/pam.d/system-auth
  notify:
  - ensure-services-started
  - ensure-services-reloaded

- name: Create config dir structure for OpenVPN clients
  file:
    dest: /etc/openvpn/client
    mode: u=rwx,g=rx,o=rx
    owner: root
    group: root
    state: directory
    recurse: yes
- name: Add OpenVPN client configs
  copy:
    dest: /etc/openvpn/client/{{ config_file }}
    group: root
    mode: u=r,g=,o=
    owner: root
    src: >-
      {{ src_config }}
  vars:
    src_config: >-
      {{
          lookup(
            'first_found',
            [
                inventory_hostname + '/etc/openvpn/client/' + config_file,
                'etc/openvpn/client/' + config_file,
            ],
          )
      }}
  loop:
  - redhat-brq.conf
  - rh-username
  - turris-catch-all.conf
  loop_control:
    loop_var: config_file
  notify:
  - ensure-services-started
  - ensure-services-reloaded

- name: Create config dir structure for DNSmasq under NetworkManager
  file:
    dest: /etc/NetworkManager/dnsmasq.d
    mode: u=rwx,g=rx,o=rx
    owner: root
    group: root
    state: directory
    recurse: yes
- name: Set up DNSmasq configs under NetworkManager
  template:
    src: networkmanager.dnsmasq.redhat.conf.j2
    dest: /etc/NetworkManager/dnsmasq.d/redhat.conf
  notify:
  - ensure-services-started
  - ensure-services-reloaded
- name: Enable DNSmasq in NetworkManager
  copy:
    src: etc/NetworkManager/conf.d/dnsmasq.conf
    dest: /etc/NetworkManager/conf.d/dnsmasq.conf
  notify:
  - ensure-services-started
  - ensure-services-reloaded
- name: Force all notified handlers to run
  meta: flush_handlers

- name: Set up X.Org X11 server subsystem
  copy:
    src: etc/X11/xorg.conf
    dest: /etc/X11/xorg.conf
    mode: u+rw,g=r,o=r
    owner: root
    group: root
  when: ansible_product_version == 'ThinkPad P50'

- name: >-
    Set up udev rules: make Android devices accessible by plugdev group
  copy:
    src: etc/udev/rules.d/51-android.rules
    dest: /etc/udev/rules.d/51-android.rules
    mode: u+rw,g=r,o=r
    owner: root
    group: root
  notify:
  - update-udev-rules

- name: Create config dir structure for Google Chrome and Chromium
  file:
    dest: "{{ item.key }}"
    mode: "{{ item.value }}"
    owner: root
    group: root
    state: directory
    recurse: yes
  with_dict:
    /etc/chromium/policies/managed/: u+rwx,g=rx,o=rx
    /etc/chromium/policies/recommended/: u+rwx,g=rwx,o=rx
    /etc/opt/chrome/policies/managed/: u+rwx,g=rx,o=rx
    /etc/opt/chrome/policies/recommended/: u+rwx,g=rwx,o=rx
- name: Set up policies with whitelisted Kerberos servers for Google Chrome and Chromium
  copy:
    content: >-
      {{ policy_file[1].content | to_nice_json(indent=4) }}
    dest: >-
      {{ policy_file[0] }}/{{ policy_file[1].name }}.json
    mode: u+rw,g=r,o=r
    owner: root
    group: root
  loop: >-
    {{
        [
            '/etc/chromium/policies/managed',
            '/etc/opt/chrome/policies/managed',
        ]
        | product(
            chrome_managed_policies
            | dict2items(key_name='name', value_name='content'),
        )
        | list
    }}
  loop_control:
    loop_var: policy_file

- name: Create a custom trusted CA certificates dir
  file:
    dest: "{{ item.key }}"
    mode: "{{ item.value }}"
    owner: root
    group: root
    state: directory
    recurse: yes
  with_dict:
    /usr/local/share/ca-certificates/: u+rwx,g=rx,o=rx
    /etc/pki/nssdb/: u+rwx,g=rx,o=rx
- name: Create a custom trusted CA certificates user dir
  become: no
  file:
    dest: $HOME/.pki/nssdb/
    mode: u+rwx,g=rx,o=rx
    state: directory
    recurse: yes
- name: Getting Red Hat Legacy Root CA and IT Root CA
  get_url:
    url: https://password.corp.redhat.com/{{ item.value.filename }}.crt
    dest: /usr/local/share/ca-certificates/{{ item.key }}.crt
    checksum: sha256:{{ item.value.sha256sum }}
  with_dict: "{{ ca_certificates }}"
  notify:
  - update-ca-trust
- name: Verify downloaded Red Hat Legacy Root CA and IT Root CA
  shell: |
    set -euxo pipefail
    openssl x509 -noout \
      -in '/usr/local/share/ca-certificates/{{ item.key }}.crt' \
      -fingerprint \
      -sha256 | grep 'SHA256 Fingerprint={{ item.value.sha256fingerprint }}'
  register: sha256fingerprint
  changed_when: false
  failed_when: >
    sha256fingerprint.rc != 0 or
    sha256fingerprint.stdout != (('SHA256 Fingerprint', item.value.sha256fingerprint) | join('='))
  with_dict: "{{ ca_certificates }}"
- name: Install CA certs into NSS database  # noqa 301  # FIXME
  # TODO: check out https://galaxy.ansible.com/pixelart/nssdb
  command: certutil -A -n '{{ item.key }}' -t C -i '/usr/local/share/ca-certificates/{{ item.key }}.crt' -d sql:/etc/pki/nssdb
  with_dict: "{{ ca_certificates }}"
- name: Install CA certs into per-user NSS database, used by Chrome/Firefox  # noqa 301  # FIXME
  become: no
  shell: certutil -A -n '{{ item.key }}' -t C -i '/usr/local/share/ca-certificates/{{ item.key }}.crt' -d sql:$HOME/.pki/nssdb
  with_dict: "{{ ca_certificates }}"
