[defaults]
collections_path = .
gathering = smart
inventory = hosts
vault_password_file = vault/cat-keybase.sh

[chroot_over_ssh_connection]
dir_path = /mnt/gentoo

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ForwardAgent=yes
