[Desktop Entry]
Name=FreeCAD
Name[uk]=FreeCAD
Comment=Feature based Parametric Modeler
Comment[uk]=Система автоматизованого проєктування
GenericName=CAD Application
GenericName[uk]=Система автоматизованого проєктування
# NOTE: Env vars are required due to https://bugs.gentoo.org/964398
Exec=env __GLX_VENDOR_LIBRARY_NAME= COIN_EGL=1 FreeCAD - --single-instance %F
Terminal=false
Type=Application
Icon=org.freecad.FreeCAD
Categories=Graphics;Science;Education;Engineering;X-CNC;
StartupNotify=true
StartupWMClass=FreeCAD
MimeType=application/x-extension-fcstd;model/obj;image/vnd.dwg;image/vnd.dxf;model/vnd.collada+xml;application/iges;model/iges;model/step;model/step+zip;model/stl;application/vnd.shp;model/vrml;
