SUBSYSTEMS=="input", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="024f", RUN+="echo 0 | tee /sys/module/hid_apple/parameters/fnmode"  # Any Keychron keyboard
SUBSYSTEMS=="input", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="024f", MODE="0666", GROUP="plugdev", SYMLINK+="keychron-keyboard-%n"
